
.jumbotron {
    background-color:whitesmoke;
    text-align: center;
}

.instructions {
    text-align: center;
    color: gray;
    text-align: center;
   line-height: 2.1;
}

.img-red:hover{
    opacity: 0.5 ;
 }

 .img-blue:hover{
    opacity: 0.5 ;
 }

 .img-yellow:hover{
    opacity: 0.5 ;
 }

 .img-green:hover{
    opacity: 0.5 ;
 }

 h3:hover {
    background-color: yellow;
    font-style: italic;
}