
.jumbotron {
    background-color:whitesmoke;
    text-align: center;
}

.instructions {
    text-align: center;
    color: gray;
    text-align: center;
   line-height: 2.1;
   border-style: dashed;
   border-color: rgba(255, 255, 255, 0.116);
   border-radius: 25px 5px 5px 25px;
}

.img-red:hover{
    opacity: 0.5 ;
 }

 .img-blue:hover{
    opacity: 0.5 ;
 }

 .img-yellow:hover{
    opacity: 0.5 ;
 }

 .img-green:hover{
    opacity: 0.5 ;
 }